.tiers-container > div:nth-child(odd) {
  background-color: #dfdfec;
}

.tiers-container > div:nth-child(even) {
  background-color: #f0f0f6;
}

.tier-title {
  writing-mode: vertical-rl;
  transform: rotate3d(1, 0, -10, 180deg);
}
